body {
    font-size: 1.4rem;

    display: grid;
    grid-template-rows: 40vh minmax(60vh, auto);
    padding-bottom: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    font-size: 4rem;
    font-weight: 400;
    color: var(--branding-main-color);
    text-align: center;
}

.input-row, .search-results {
    display: flex;

    width: 60vw;
    margin: .5rem 0;
}

.input-row {
    justify-content: center;
    align-items: center;
}

input[type="text"].search-input {
    padding: 0.5rem;
    outline: none;
    font-size: 1.4rem;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    border-color: var(--light-border-color);
    border-radius: 0.5rem 0 0 0.5rem;
    box-shadow: 2px 2px 8px var(--light-border-color);
    flex-grow: 5;
}

button.search-btn {
    padding: 0.5rem;
    font-size: 1.4rem;
    border-style: solid;
    border-width: 2px 2px 2px 0;
    border-color: var(--light-border-color);
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 2px 2px 8px var(--light-border-color);
    cursor: pointer;
    transition: all 250ms;
    flex-grow: 1;
    background-color: #9ca3af;
    font-weight: 700;
}

button.search-btn:hover {
    background-color: #10b981;
}

.search-results {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 .5rem;
    border-radius: 0 0 .5rem .5rem;

    box-shadow: 2px 2px 8px var(--light-border-color);
}

.search-results > .result {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: var(--light-border-color);
    width: 100%;
    margin: .2rem 0;
}

.search-results > .result:last-child {
   border: none;
}

.search-results > .result > .title {
    font-weight: 700;
    color: var(--branding-main-color);
    text-decoration: underline 0.2rem rgba(0, 0, 0, 0);
    text-underline-offset: .15rem;
    transition: all 350ms;
}

.search-results > .result > .title:hover {
    text-decoration-color: var(--branding-main-color);
    text-underline-offset: .25rem;
}

.search-results > .result > .subtext {
    font-size: 1rem;
    margin: 0.4rem 0;
}